@import url("./police-sans.css");

*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	appearance: none;
	transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
	overscroll-behavior: none;
	scroll-behavior: smooth;
}

*:focus {
	box-shadow: 0 0 12px 3px #ea433580;
	outline: none;
}

@keyframes load {
	0% {
		transform: scaleX(0);
		opacity: 1;
	} 75% {
		opacity: 1;
	} 100% {
		transform: scaleX(1);
		opacity: 0;
	}
}

img {
	border-radius: 10px;
}

loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #ea4335;
	transform-origin: left;
	animation: load 0.25s ease-out;
	opacity: 0;
	z-index: 2000;
}

body {
	font-family: "police-sans", sans-serif;
	color: #121212;
	min-height: 100vh;
	font-size: 18px;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	background: #0000;
	width: 16px;
	height: 16px;
}


::-webkit-scrollbar-corner {
	background: #0000;
}

::-webkit-scrollbar-thumb {
	border: 2px solid #0000;
	background: #333;
	background-clip: padding-box;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	border: 2px solid #0000;
	background: #353535;
	background-clip: padding-box;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:active {
	border: 2px solid #0000;
	background: #444;
	background-clip: padding-box;
	border-radius: 6px;
}

::selection {
	background: #ea4335;
	color: #f1f1f1;
}

a[href], a[href]:visited {
	color: #0000f1;
	text-decoration: none;
	border-radius: 4px;
	padding: 0px 2px;
}

a[href]:hover {
	text-decoration: underline;
}

input::-webkit-search-cancel-button {
	display: none;
}

span#gsharp-g {
	font-weight: normal;
	color: inherit;
	text-decoration: inherit;
	user-select: none;
	cursor: text;
}

a[href] span#gsharp-g {
	cursor: inherit;
}

.container {
	width: 60%;
	margin: 0 auto;
	padding: 12.5px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 7.5px 0;
}

ul > li {
	margin-left: 15.3667px;
	margin-bottom: 2.5px;
}

ul {
	margin-bottom: 5px;
}

hr {
	width: 100%;
	color: #121212;
	margin: 15px 2.5px 12.5px;
}

pre {
	font-family: inherit;
}

.code {
	color: #f1f1f1;
	background: #1e1e1e;
	border-radius: 10px;
	tab-size: 4;
	-moz-tab-size: 4;
	-webkit-tab-size: 4;
	-ms-tab-size: 4;
	-o-tab-size: 4;
	margin: 20px 0;
	font-size: 16px;
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content 1fr;
	position: relative;
}

.code::selection, .code *::selection {
	color: #0000f1;
	background: #f1f1f1;
}

.code > div.language {
	position: relative;
	left: 0;
	top: 0;
	background: #333;
	padding: 12.5px;
	border-radius: 10px 10px 0 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-column:  span 2;
}

.code > div.language > span {
	display: flex;
	align-items: center;
}

#copy-btn {
	background: #232323;
	color: #f1f1f1;
	border: none;
	outline: none;
	font-family: "police-sans", sans-serif;
	font-size: 16px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5px 3px;
	cursor: pointer;
}

#copy-svg {
	height: 16px;
	width: 16px;
	margin-left: 3px;
}

.code div.line-count-container {
	background: #2b2b2b;
	border-bottom-left-radius: 10px;
	width: 19px;
	height: calc(100% - 49px);
	position: absolute;
	top: 49px;
}

.code #line-count {
	display: inline-block;
	width: 0;
}

.code #line-count::before {
	user-select: auto;
	content: attr(data-count);
	display: block;
	position: absolute;
	width: 10px;
	left: 5px;
}

code pre {
	padding: 12.5px 12.5px 12.5px 31.5px;
	display: inline-block;
	position: relative;
	font-family: "consolas", monospace;
	white-space: break-spaces;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.code code {
	grid-column: 2;
}

code.gsharp span.keyword {
	color: #569cd6;
}

code.gsharp span.string {
	color: #ce9178;
}

code.gsharp span.fun-name {
	color: #dcdbac;
}

code.gsharp span.const-name {
	color: #52c1aa;
}

code.gsharp span.var-name {
	color: #a2e2fe;
}

code.gsharp span.comment {
	color: #6a9955;
}

.left-side-nav {
	width: 20%;
	position: fixed;
	height: 100%;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 15px;
	border-right: 2px solid #ebebeb;
	overflow: auto;
}

.left-side-nav pre {
	user-select: none;
	line-height: 2;
}

.left-side-nav a {
	padding: 5px;
	border-radius: 5px;
}

.left-side-nav a.active {
	text-decoration: underline;
	background: #ec5649;
	color: #f1f1f1;
	position: relative;
	z-index: 1001;
}

header {
	position: sticky;
	top: 0;
	left: 20%;
	z-index: 1002;
	width: 80%;
	height: 64px;
	background: #fff;
	border-bottom: 2px solid #ebebeb;
}

header ul {
	display: grid;
	grid-template-columns: 1fr max-content max-content;
	grid-template-rows: 100%;
	list-style: none;
	height: 100%;
	width: 100%;
	margin: 0;
}

header ul li {
	padding: 10px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

header ul li button {
	border: none;
	width: 32.5px;
	height: 32.5px;
	background: #fff;
	border-radius: 5px;
	padding: 2.5px;
	cursor: pointer;
}

header ul li button:hover {
	background: #ebebeb;
}

header ul li button:focus, header ul li button:focus-within {
	background: #b1b1b1;
	outline: none;
	box-shadow: 0 0 12px 3px #ea433580;
}

header ul li button svg * {
	stroke: #121212;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

header ul li button svg rect {
	fill: #121212;
}

.help-btn svg text {
	fill: #121212;
	stroke-width: 2;
	font-family: "police-sans", sans-serif;
	font-weight: 900;
}

.help-btn a {
	padding: 0;
}

.help-btn a:focus {
	box-shadow: none;
}

header ul li form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header ul li form input {
	height: 100%;
	width: 200px;
	font-family: "consolas", monospace;
	font-size: 16px;
	border: none;
	border-bottom: 2px solid #121212;
	margin-right: 15px;
	padding: 7.5px;
	padding-bottom: 5.5px;
	border-radius: 5px 5px 0 0;
	position: relative;
}

header ul li form input:focus {
	border-color: #ea4335;
}

header ul li form input::after {
	content: '';
	display: block;
	position: absolute;
	height: 2.5px;
	width: 10px;
	background: #ea4335;
	top: 0;
	left: 0;
}

.results {
	margin: 27.5px 0;
}

.bg-query {
	background: #b6cffc;
	color: #1967d2;
	border-radius: 2.5px;
}

.bg-query::selection {
	color: #1967d2;
	background: #f1f1f1;
}

.query {
	font-variant-ligatures: none;
}

.cookie-bar {
	background: #fff;
	border-top: 2px solid #ebebeb;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2050;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-template-rows: 100%;
}

.cookie-bar p {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.cookie-bar button {
	padding: 10px 25px;
	font-family: "police-sans", sans-serif;
	border-radius: 999px;
	border: none;
	background: #ea4335;
	cursor: pointer;
	color: #f1f1f1;
	font-weight: 600;
	font-size: 16px;
}

.cookie-bar button:hover {
	background: #d02516;
}

.cookie-bar.hidden {
	opacity: 0;
	visibility: hidden;
}

p code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
	border-radius: 5px;
	background: #555;
	color: #f1f1f1;
	padding: 2.5px;
	font-family: "consolas", monospace;
}

.right-side-nav {
	width: 20%;
	position: fixed;
	height: calc(100% - 64px);
	background: #fff;
	top: 64px;
	left: 80%;
	z-index: 1000;
	border-left: 2px solid #ebebeb;
	overflow: auto;
	font-size: 22px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(5, max-content);
}

.right-side-nav a {
	border-left: 7.5px solid transparent;
	padding: 7.5px;
	border-radius: 0;
}

.right-side-nav a:hover {
	text-decoration: none;
	border-color: #ea433550;
	background: #ea433520;
}

.right-side-nav a:active, .right-side-nav a.active {
	text-decoration: none;
	border-color: #ea433580;
	background: #ea433550;
	box-shadow: none;
	color: #121212;
}

p.results-infos {
	margin-top: 27.5px;
}

/* Dark theme */

body.dark {
	background: #333;
	color: #f1f1f1;
}

body.dark a[href] {
	color: #b6cffc;
}

body.dark a.active {
	color: #f1f1f1;
}

body.dark hr {
	color: #f1f1f1;
}

header.dark, .left-side-nav.dark {
	background: #444;
	border-color: #555;
}

header.dark input, header.dark button {
	background: #666;
	color: #f1f1f1;
	border-color: #f1f1f1;
}

header.dark input::placeholder {
	color: #f1f1f180;
}

header.dark button:hover {
	background: #777;
}

header.dark button:focus, header.dark button:focus-within {
	background: #555;
}

header.dark svg * {
	stroke: #f1f1f1;
}

header.dark svg rect {
	fill: #f1f1f1;
}

body.dark .code .language {
	background: #444;
}

body.dark .cookie-bar {
	background: #444;
	border-color: #555;
}

body.dark .right-side-nav {
	background: #444;
	border-color: #555;
}

body.dark .right-side-nav a:focus, body.dark .right-side-nav a.active {
	color: #f1f1f1;
}

/* Media Query */

@media screen and (max-width: 610px) {
	.left-side-nav {
		display: none;
	}
	
	.right-side-nav {
		display: none;
	}
	
	header {
		width: 100%;
		left: 0;
	}

@media screen and (max-width: 560px) {
	.container {
		width: 80vw;
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 100%;
	}
}

/* ©2023 Gougle, Inc. */
